<form (submit)="submitData($event)">
  @for (input of getInputs(); track $index) { @if (input.inputType.type == "select") {
  <label [for]="input.name">{{ input.name }}</label>
  <select [id]="input.name" [formControl]="input.control">
    <option *ngFor="let option of input.inputType.options" [value]="option">
      {{ option }}
    </option>
  </select>
  } @else {
  <label [for]="input.name">{{ input.name }}</label>
  <input
    [id]="input.name"
    [type]="input.inputType"
    [formControl]="input.control"
  />
  }
  <br />
  }
  
  <input type="submit" value="Submit" />
</form>
